* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
}
.form-container {
    width: 400px;
    height: 400px;
    /* background-color: white; */
}
.input-fields {
    display: flex;
    flex-direction: column;
}
.button-fields {
    display: flex;
    flex-direction: column;
}

















.create-newAccount {
    display: none;
}